In [35]:
from sksurv.datasets import load_aids
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [36]:
Xaids, yaids = load_aids('aids')
Xdeath, ydeath = load_aids('death')
#https://web.archive.org/web/20170517080800/http://www.umass.edu/statdata/statdata/data/actg320.txt

In [37]:
Xaids

       age    cd4 hemophil ivdrug karnof  priorzdv raceth sex strat2 tx txgrp
0     34.0  169.0        0      1    100      39.0      1   1      1  0     1
1     34.0  149.5        0      1     90      15.0      2   2      1  0     1
2     20.0   23.5        1      1    100       9.0      1   1      0  1     2
3     48.0   46.0        0      1     90      53.0      1   1      1  0     1
4     46.0   10.0        0      3     90      12.0      1   1      0  1     2
...    ...    ...      ...    ...    ...       ...    ...  ..    ... ..   ...
1146  44.0   65.5        0      1    100     103.0      1   1      1  1     2
1147  41.0    7.5        0      1     80      20.0      2   1      0  1     2
1148  43.0  170.0        0      3     90      27.0      2   1      1  0     1
1149  44.0  282.5        0      3     80      12.0      1   1      1  0     1
1150  44.0  120.0        0      1     90      26.0      1   1      1  1     2

[1151 rows x 11 columns]

In [38]:
yaids

array([(False, 189.), (False, 287.), (False, 242.), ..., (False, 272.),
       (False, 192.), (False, 132.)],
      dtype=[('censor', '?'), ('time', '<f8')])

In [39]:
Xdeath

       age    cd4 hemophil ivdrug karnof  priorzdv raceth sex strat2 tx txgrp
0     34.0  169.0        0      1    100      39.0      1   1      1  0     1
1     34.0  149.5        0      1     90      15.0      2   2      1  0     1
2     20.0   23.5        1      1    100       9.0      1   1      0  1     2
3     48.0   46.0        0      1     90      53.0      1   1      1  0     1
4     46.0   10.0        0      3     90      12.0      1   1      0  1     2
...    ...    ...      ...    ...    ...       ...    ...  ..    ... ..   ...
1146  44.0   65.5        0      1    100     103.0      1   1      1  1     2
1147  41.0    7.5        0      1     80      20.0      2   1      0  1     2
1148  43.0  170.0        0      3     90      27.0      2   1      1  0     1
1149  44.0  282.5        0      3     80      12.0      1   1      1  0     1
1150  44.0  120.0        0      1     90      26.0      1   1      1  1     2

[1151 rows x 11 columns]

In [40]:
ydeath

array([(False, 189.), (False, 287.), (False, 242.), ..., (False, 272.),
       (False, 192.), (False, 132.)],
      dtype=[('censor_d', '?'), ('time_d', '<f8')])

In [41]:
y = pd.concat([pd.DataFrame.from_records(ydeath),pd.DataFrame.from_records(yaids)],axis=1)
y['censor'] = y['censor'].astype('int64')
y['censor_d'] = y['censor_d'].astype('int64')
y

      censor_d  time_d  censor   time
0            0   189.0       0  189.0
1            0   287.0       0  287.0
2            0   242.0       0  242.0
3            0   199.0       0  199.0
4            0   286.0       0  286.0
...        ...     ...     ...    ...
1146         0   273.0       0  273.0
1147         0   327.0       1   47.0
1148         0   272.0       0  272.0
1149         0   192.0       0  192.0
1150         0   132.0       0  132.0

[1151 rows x 4 columns]

1 -> AIDS
2 -> DECES W/O AIDS
0 -> PAS AIDS

In [42]:
y['status'] = np.where((y['censor'] == 0) & (y['censor_d'] == 0), 0,
                   np.where((y['censor'] == 1), 1,
                   np.where((y['censor'] == 0) & (y['censor_d'] == 1), 2, np.nan)))
print(y)

      censor_d  time_d  censor   time  status
0            0   189.0       0  189.0     0.0
1            0   287.0       0  287.0     0.0
2            0   242.0       0  242.0     0.0
3            0   199.0       0  199.0     0.0
4            0   286.0       0  286.0     0.0
...        ...     ...     ...    ...     ...
1146         0   273.0       0  273.0     0.0
1147         0   327.0       1   47.0     1.0
1148         0   272.0       0  272.0     0.0
1149         0   192.0       0  192.0     0.0
1150         0   132.0       0  132.0     0.0

[1151 rows x 5 columns]

In [43]:
y = y.drop(["time_d","censor","censor_d"],axis=1)
y

       time  status
0     189.0     0.0
1     287.0     0.0
2     242.0     0.0
3     199.0     0.0
4     286.0     0.0
...     ...     ...
1146  273.0     0.0
1147   47.0     1.0
1148  272.0     0.0
1149  192.0     0.0
1150  132.0     0.0

[1151 rows x 2 columns]

temps d'event pour la simualtion
simulation en risque compÃ©titif de mon dÃ©cÃ¨s sans sida (avec un lien ou pas avec nos covariable) deces overdose sans sida (pverdose et sexe)